In [8]:
import sys
import os

sys.path.append(os.path.abspath(".."))

In [1]:
import pandas as pd

df = pd.read_excel("../data/raw/emdat.xlsx")
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,GADM Admin Units,Entry Date,Last Update
0,2010-0416-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,69.513293,"[{""adm2_code"":70091,""adm2_name"":""Lakhimpur""}]","[{""gid_2"":""IND.4.20_1"",""migration_date"":""2025-...",2011-01-10,2025-12-20
1,2023-0846-IND,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,97.134993,NaN,"[{""gid_2"":""IND.31.25_1"",""name_2"":""Thoothukkudi...",2023-12-21,2026-01-16
2,2018-0049-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,80.049596,"[{""adm2_code"":17633,""adm2_name"":""Delhi""}]","[{""gid_2"":""IND.25.1_1"",""migration_date"":""2025-...",2018-02-27,2025-12-20
3,2000-0444-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":70041,""adm2_name"":""Administrativ...","[{""gid_2"":""IND.3.5_1"",""migration_date"":""2025-1...",2003-07-01,2025-12-20
4,2000-0332-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,54.895152,"[{""adm2_code"":17582,""adm2_name"":""Golaghat""},{""...","[{""gid_2"":""IND.3.11_1"",""migration_date"":""2025-...",2005-09-15,2025-12-20

In [2]:
df.shape
df.info()
df.columns

<class 'pandas.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 47 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     392 non-null    str
 1   Historic                                   392 non-null    str
 2   Classification Key                         392 non-null    str
 3   Disaster Group                             392 non-null    str
 4   Disaster Subgroup                          392 non-null    str
 5   Disaster Type                              392 non-null    str
 6   Disaster Subtype                           392 non-null    str
 7   External IDs                               105 non-null    str
 8   Event Name                                 36 non-null     str
 9   ISO                                        392 non-null    str
 10  Country                                    392 non-null    str
 11  Subregion                                  392 non-null    str
 12  Region                                     392 non-null    str
 13  Location                                   392 non-null    str
 14  Origin                                     197 non-null    str
 15  Associated Types                           128 non-null    str
 16  OFDA/BHA Response                          392 non-null    str
 17  Appeal                                     392 non-null    str
 18  Declaration                                392 non-null    str
 19  AID Contribution ('000 US$)                14 non-null     float64
 20  Magnitude                                  154 non-null    float64
 21  Magnitude Scale                            358 non-null    str
 22  Latitude                                   77 non-null     float64
 23  Longitude                                  77 non-null     float64
 24  River Basin                                73 non-null     str
 25  Start Year                                 392 non-null    int64
 26  Start Month                                392 non-null    int64
 27  Start Day                                  360 non-null    float64
 28  End Year                                   392 non-null    int64
 29  End Month                                  392 non-null    int64
 30  End Day                                    361 non-null    float64
 31  Total Deaths                               371 non-null    float64
 32  No. Injured                                92 non-null     float64
 33  No. Affected                               204 non-null    float64
 34  No. Homeless                               45 non-null     float64
 35  Total Affected                             276 non-null    float64
 36  Reconstruction Costs ('000 US$)            0 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  0 non-null      float64
 38  Insured Damage ('000 US$)                  16 non-null     float64
 39  Insured Damage, Adjusted ('000 US$)        16 non-null     float64
 40  Total Damage ('000 US$)                    110 non-null    float64
 41  Total Damage, Adjusted ('000 US$)          107 non-null    float64
 42  CPI                                        378 non-null    float64
 43  Admin Units                                348 non-null    str
 44  GADM Admin Units                           338 non-null    str
 45  Entry Date                                 392 non-null    str
 46  Last Update                                392 non-null    str
dtypes: float64(18), int64(4), str(25)
memory usage: 144.1 KB

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'GADM Admin Units', 'Entry Date', 'Last Update'],
      dtype='str')

In [5]:
core_cols = [
    "Disaster Type",
    "Country",
    "Start Year",
    "Total Deaths",
    "No. Injured",
    "No. Affected",
    "No. Homeless",
    "Total Affected",
    "Total Damage ('000 US$)"
]

core_df = df[core_cols]
core_df.head()

,Disaster Type,Country,Start Year,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$)
0,Flood,India,2010,NaN,NaN,30000.0,NaN,30000.0,NaN
1,Flood,India,2023,10.0,NaN,NaN,NaN,NaN,NaN
2,Extreme temperature,India,2018,44.0,NaN,NaN,NaN,NaN,NaN
3,Flood,India,2000,130.0,NaN,NaN,NaN,NaN,NaN
4,Flood,India,2000,20.0,NaN,3000000.0,NaN,3000000.0,NaN

In [6]:
core_df.isnull().sum

<bound method DataFrame.sum of      Disaster Type  Country  Start Year  Total Deaths  No. Injured  \
0            False    False       False          True         True
1            False    False       False         False         True
2            False    False       False         False         True
3            False    False       False         False         True
4            False    False       False         False         True
..             ...      ...         ...           ...          ...
387          False    False       False         False         True
388          False    False       False         False         True
389          False    False       False         False         True
390          False    False       False         False         True
391          False    False       False         False         True

     No. Affected  No. Homeless  Total Affected  Total Damage ('000 US$)
0           False          True           False                     True
1            True          True            True                     True
2            True          True            True                     True
3            True          True            True                     True
4           False          True           False                     True
..            ...           ...             ...                      ...
387         False          True           False                    False
388         False          True           False                     True
389          True          True            True                     True
390         False          True           False                     True
391         False          True           False                    False

[392 rows x 9 columns]>

In [9]:
from src.preprocess import load_and_clean_data

clean_df = load_and_clean_data("../data/raw/emdat.xlsx")
clean_df.info()
clean_df.head()

<class 'pandas.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Disaster Type            392 non-null    str
 1   Country                  392 non-null    str
 2   Start Year               392 non-null    int64
 3   Total Deaths             392 non-null    float64
 4   No. Injured              392 non-null    float64
 5   No. Affected             392 non-null    float64
 6   No. Homeless             392 non-null    float64
 7   Total Affected           392 non-null    float64
 8   Total Damage ('000 US$)  392 non-null    float64
dtypes: float64(6), int64(1), str(2)
memory usage: 27.7 KB

,Disaster Type,Country,Start Year,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$)
0,Flood,India,2010,0.0,0.0,30000.0,0.0,30000.0,0.0
1,Flood,India,2023,10.0,0.0,0.0,0.0,0.0,0.0
2,Extreme temperature,India,2018,44.0,0.0,0.0,0.0,0.0,0.0
3,Flood,India,2000,130.0,0.0,0.0,0.0,0.0,0.0
4,Flood,India,2000,20.0,0.0,3000000.0,0.0,3000000.0,0.0

In [10]:
clean_df.head()

,Disaster Type,Country,Start Year,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total Damage ('000 US$)
0,Flood,India,2010,0.0,0.0,30000.0,0.0,30000.0,0.0
1,Flood,India,2023,10.0,0.0,0.0,0.0,0.0,0.0
2,Extreme temperature,India,2018,44.0,0.0,0.0,0.0,0.0,0.0
3,Flood,India,2000,130.0,0.0,0.0,0.0,0.0,0.0
4,Flood,India,2000,20.0,0.0,3000000.0,0.0,3000000.0,0.0

In [11]:
from src.feature_engineering import create_priority_score

scored_df = create_priority_score(clean_df)
scored_df[["Disaster Type", "Country", "priority_score"]].sort_values(
    "priority_score", ascending=False
).head(10)

    Disaster Type Country  priority_score
93          Flood   India      16806374.0
266         Flood   India      13700360.0
87          Flood   India       9978653.6
76          Storm   India       9900036.0
72          Flood   India       9858697.6
391         Flood   India       8808946.8
105         Flood   India       8666502.0
346         Storm   India       8362020.0
369         Flood   India       7480441.2
145         Flood   India       7193605.6